/* ! CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
/* ? COLOR PALETTE */
:root {
    --custom-blue: #0084fd;
    --custom-light-blue: #b5ddff;
    --custom-viol: #9792e4;
    --custom-orange: #fdc15f;
    --custom-black: #333333;
}
/*? GENERICS */
.bg-violet h2 {
    color: white;
    text-align: center;
    padding: 40px 0;
}
/*? UTILITIES */
.container {
    max-width: 480px;
    margin: 0 auto;
}
.brd {
    border: 2px dashed red;
}
.bg-violet {
    background-color: var(--custom-viol);
}
.bg-light-blue {
    background-color: var(--custom-light-blue);
}
.mt-150 {
    margin-top: 150px;
}
.mt-80 {
    margin-top: 80px;
}
.mt-70 {
    margin-top: 70px;
}
.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 0 20px;
}
.col {
    width: 100%;
    min-height: 360px;
}
.card {
    height: 360px;
}
.flex {
    display: flex;
}
/** HEADER */
header {
    background-color: var(--custom-blue);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.navbar {
    height: 76px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
#logo {
    display: block;
}
.menu {
    font-size: 1.5rem;
}
nav > nav {
    display: none;
    padding-right: 5px;
}
/** MAIN */
/* STRATEGIC PLANNING SECTION */
.strategic-planning .row {
    padding: 50px 20px;
}
/* BENEFITS SECTION */
.benefits .row {
    padding-bottom: 65px;
}
/*! RESPONIVE */
@media screen and (min-width: 768px) {
    .container {
        max-width: 750px;
    }
    .demo-app .row {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }
    .demo-app .row.container .col:first-child{
        width: 65.6%
    }
    .demo-app .col {
        width: calc(100% / 3 - 15px);
    }
    .benefits .row {
        flex-direction: row;
    }
    .benefits .col {
        width: 48%;
    }
    .about-us .row {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }
    .about-us .col:first-child {
        width:65.6%;
    }
    .about-us .col {
        width: calc(100% / 3 - 15px);
    }
}

@media screen and (min-width: 992px) {
    .container {
        max-width: 1200px;
    }
    .menu {
        display: none;
    }
    nav > nav {
        display: block;
    }
    .strategic-planning .row {
        flex-direction: row;
        justify-content: center;
    }
    .strategic-planning .col {
        width: 45%;
    }
    .benefits .row {
        flex-direction: row;
        justify-content: space-between;
        gap:35px;
    }
    .benefits .col {
        width: 30%;
    }
}